body {
    margin: 0px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    color: white;


    background-image: url(images/MJ.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



main {
    width: 80vw;
}

body > :first-child {
    padding: 30px;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.2);

}

header {
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 10px;
    margin: 10px;
}

header > h1 {
    font-size: 8vw;
    padding: 0px;
    font-family: 'preconnect';

}

nav {
    display: flex;
    flex-basis: 50px;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
    height: 50px;
    align-items: center;
    margin: 40px 0;
    padding: 0px;

}

nav div {
    color: black;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    
    padding: 20px;
    border-radius: 10px;
    flex: 1;

    font-size: 2vw;
}

nav div:nth-child(1):hover,
nav div:nth-child(3):hover,
nav div:nth-child(4):hover {
    background-color: rgb(39, 39, 39);
    color: white;
    
}

.marked {
    font-weight: bold;
    border: 1px solid white;
    box-shadow: 0px 0px 8px white;
}

.album_data h1 {
    font-family: "Bungee Outline";
    margin-bottom: 10px;
    font-size: 2.5vw;
}

.album_data h2 {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 2.5vw;
}


.album_data ul {
    margin-bottom: 50px;
}


p {
    font-size: 2vw;
}

li {
    font-size: 1.5vw;
}

#are_you_experienced.best {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    border-radius: 10px;
    
    height: 80%;
    margin-bottom: 15px;
}
 
.best {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    height: 1400px;
    padding: 10px;
    margin-bottom: 15px;
}

div > div > ul {
    list-style: none;
}

div.album_data {
   margin-right: 25px;
}


.album_description {
    max-width: 50vw;
}

.cover {
    position: relative;
    margin-bottom: 10px;
    border-radius: 20px 20px 0 0;

    display: flex;
    background-color: #281b25;
    }

.show_not_hover {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;

    border-radius: 20px 20px 0 0;    
}


.show_hover {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    object-fit:contain;
    border-radius: 20px 20px 0 0;
    opacity: 0;
    transition: opacity 1s;
}

.show_hover:hover{
    opacity: 1;
}


div.song_list {
    display: flex;
    grid-column: 2;

    font-size: 1.5vw;
}

div.song_list h2 {
    margin-left: 2.5vw;
}

div.song_list div:first-child {
    background-color: #281b25;
    margin-right: 5px;
    border-radius: 0 0 0 20px;
    padding-right: 50px; 
    
}

div.song_list div:last-child {
    background-color: #281b25;
    margin-right: 5px;
    border-radius: 0 0 20px 0;
    padding-right: 50px; ;
}

div.song_list > div > ul {
    list-style-type: decimal;
}

ul.anecdotes {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
   
    width: 100%;
    padding-left: 0;

    grid-column: 1 /span 2;
}

ul.anecdotes  li {
    list-style: none;
}

li.top_right_90 {
    background-color: white;
    color: #a87866;
    padding: 10px;
    border-radius: 10px 0 10px 10px;
    padding: 30px;
}
 

li.two_wide.bottom_left_90 {
    grid-column: 3 /span 2;
    background-color: white;
    color: #a87866;
    padding: 10px;
    border-radius: 10px 10px 10px 0;
    padding: 30px;

}

li.image_1.top_left_90 {
    grid-column: 5;
    grid-row: 1;
    background-color: white;
    color: #a87866;
    padding: 10px;
    border-radius: 10px 10px 0 10px;
    margin-left: 10px;
    padding: 30px;

    background-image: url(images/Quincy_Jones.jpg);
    background-size: cover;
}


li.bottom_right_90 {
    grid-column: 6 /span 1;
    grid-row: 1;
    background-color: white;
    color: #a87866;
    padding: 10px;
    border-radius: 10px 10px 0 10px;
    margin-left:10px;
    padding: 30px;

}

li.tablet_empty {
    display: none;
}

li.empty.phone_empty {
    display: none;
}


/* NÄSTA SLIDE */


#axis_bold_as_love.best {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;

    display: grid;
    height: 80%;
    margin-bottom: 15px;
}


ul.anecdotes  li {
    list-style: none;
    margin: 5px;
    padding: 10px
}


li.two_wide.bottom_left_90:nth-child(1) {
    grid-column: 1 /span 2 ;
    background-color: aqua;
}

li.two_wide.image.image_1.top_left_90:nth-child(5) {
    
    grid-column: 4 /span 2;
}



li.bottom_right_90:nth-child(6) {
    background-color: rgb(255, 255, 255);
    
    grid-column: 6;
}

li.top_left_90:nth-child(2) {
    grid-column: 3;
    background-color: aqua;
}


li.empty.tablet_empty {
    display: none;
}


/* TABLET VERSION */

@media (max-width: 800px)  {
    
    body > div {
        justify-self: center;
    }
    
    
    header {
        justify-content: center;

    }

    header > h1 {
        font-size: 12vw;
        text-align: center;
        margin: 0;
    }
    
    nav {
        width: 80vw;
    }

    nav div {
        font-size: 2vw;
        padding: 15px;
    }
    .cover {
        margin-right: 10px;
        margin-bottom: 0;
        border-radius: 20px 0 0 20px;
        
       
        grid-column: 1/ span 2;
        grid-row: 1 / span 2;

    }

    .show_not_hover {
        display: none;
    }

    div.song_list h2 {
        margin-left: 3.5vw;
    }
    
    div.song_list {
        display: flex;
        flex-direction: column;        
        grid-column: 3;
        gap: 10px;
    }

    div.song_list div:first-child {
        border-radius: 0 20px 0 0;
    }
    

    .show_not_hover {
        border-radius: 20px 0 0 20px;
        pointer-events:none
    }

    .best {
        display: grid;
        grid-template-columns: 2fr 1fr ;
        grid-template-rows: repeat(3, auto);
        
        padding: 10px;
        margin-bottom: 15px;
    }
    
    .album_data h1 {
        font-size: 5vw;
        margin-top: 10px;
    }
    
    .album_data h2 {
        font-size: 5vw;
    }

    div.album_data {
        grid-column: 1 /span 3;
        grid-row: 3;
     }

    .album_data {
        grid-row: 2;
    }

    .album_description {
        max-width: 100%;
    }

    p {
        font-size: 2.5vw;
    }

    li {
        font-size: 2vw;
    }

    ul.anecdotes {
        grid-column: 1 /span 3;
    }
    

    li.top_right_90 {
        grid-column: 1 /span 2;
    }

    li.two_wide.bottom_left_90 {
        grid-column: 4 /span 3;
    }

    li.image_1.top_left_90 {
        grid-column: 3;
        grid-row: 2;
    }

    li.bottom_right_90 {
        grid-column: 4;
        grid-row: 2;
    }




    /* NÄSTA SLIDE */


    li.two_wide.bottom_left_90:nth-child(1) {
        grid-column: 1 /span 3;
    }

    li.top_left_90:nth-child(2) {
    
        grid-column: 4;
    }

    li.two_wide.image.image_1.top_left_90:nth-child(5) {
        grid-row: 2;
        grid-column: 2 /span 3;
    }

    li.bottom_right_90:nth-child(6) {
        grid-column: 5 /span 2;
    }
}

/* PHONE VERSION */

@media (max-width: 500px) {
    
    .best {
        display: grid;
        grid-template-columns: 2fr 1fr ;
        grid-template-rows: 200px 1fr;
        
        padding: 10px;
        margin-bottom: 15px;
    }

    .cover {
        grid-row: 1;
        margin:0;
        border-radius: 20px 20px 0 0;
    }

    .show_not_hover {
        display: none;
    }

    div.song_list h2 {
        margin-left: 6vw;
    }

    div.song_list {
        grid-row: 2;
        grid-column: 1 /span 2;
        flex-direction: row;
        

        margin-top: 10px;
        gap: 10px;
        
    }

    li {
        font-size: 2vw;
    }

    div.song_list div:first-child {
        border-radius: 0 0 0 20px;
        margin-right: 0;
        padding: 20px;
    }

    div.song_list div:last-child {  
        border-radius: 0 0 20px 0;
        margin-right: 0;
        padding-right: 80px;
    }

    ul.anecdotes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    li.top_right_90 {
        grid-column: 1;
    }

    li.two_wide.bottom_left_90 {
        grid-column: 3 /span 2;
    }

    li.two_wide.bottom_left_90 {
        
    }

    li.empty {
        display: none;
    }
    li.empty.tablet_empty {
        display: none;
    }

     /* NÄSTA SLIDE */

    ul.anecdotes {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
    }
     

     li.two_wide.bottom_left_90:nth-child(1) {
        grid-column: 1 /span 4;
    }

    li.top_left_90:nth-child(2) {
    
        grid-column: 5 /span 2;
    }


    


    

    




}